.header-color {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Landing Page */
.landing-grid {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  background-size: cover;
  height: 95vh;
}

.avatar-img {
  height: 272px;
  padding: 2em;
}

.banner {
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  color: white;
}

.banner h1 {
  font-size: 4em;
  padding-top: 0.5em;
}

.banner hr {
  border-top: 3px ridge white;
  width: 80%;
  margin: auto;
  border-radius: 3px;
}

.banner h2 {
  font-size: 2.2em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5.5em;
  padding: 5px;
  padding-bottom: 0.1em;
}

/* Projects Page */
.projects-grid {
  display: flex;
}

.ThermoSmart {
  top: 3em;
}

/* Resume Page */
iframe {
  height: 850px;
  width: 100%;
}

/* About Page */
.about-body {
  margin: auto;
  padding-top: 7em;
}

.about-grid {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 78%;
  margin: auto;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.about-grid h1 {
  color: white;
}

.about-grid hr {
  border-top: 4px white ridge;
  width: 70%;
}

.about-grid p {
  font-size: 24px;
  padding-top: 2em;
  margin: 2em;
}

/*Contact Page */
.contact-body {
  padding-top: 7em;
  margin: auto;
  justify-content: center;
}

.contact-grid {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
  justify-content: center;
  width: 78%;
  margin: auto;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.avatar-img2 {
  height: 300px;
  padding-bottom: 2em;
}

.contact-grid hr {
  border-top: 4px white dotted;
  width: 45%;
  margin: auto;
}

.contact-grid h2 {
  padding-top: 0.3em;
  color: white;
}

.contact-list i {
  padding-left: 2em;
  padding-right: 0.4em;
  font-size: 60px;
}
