.header-color {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: verdana;
}

.header-links:hover {
  color: #9900cc;
}

/* Landing Page */
.landing-grid {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.avatar-img {
  height: 19rem;
  padding: 2.2em;
}

.banner {
  background-color: black;
  opacity: 0.7;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  color: white;
}

.banner h1 {
  font-size: 4rem;
  padding-top: 0.5em;
}

.banner hr {
  border-top: 3px ridge white;
  width: 80%;
  margin: auto;
  border-radius: 3px;
}

.banner h2 {
  font-size: 2.2rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5.5em;
  padding: 5px;
  padding-bottom: 0.1em;
}

/* Projects Page */
.projects-body {
  background-image: url(https://c.pxhere.com/photos/3f/b2/winter_bw_white_lake_snow_black_mountains_nature-589111.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.projects-grid {
  display: flex;
}

.ThermoSmart {
  top: 3em;
}

.Robot {
  top: 3em;
}

/* Resume Page */
iframe {
  height: 850px;
  width: 100%;
}

/* About Page */
.about-body {
  background-image: url(https://c.pxhere.com/photos/3f/b2/winter_bw_white_lake_snow_black_mountains_nature-589111.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding-top: 7em;
}

.about-grid {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  justify-content: center;
  width: 78%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.about-grid h1 {
  color: white;
  opacity: 0.8;
}

.about-grid hr {
  border-top: 4px white ridge;
  width: 20%;
  opacity: 0.8;
}

.about-grid p {
  font-size: 24px;
  padding-top: 0.5em;
  margin: 2em;
  color: white;
  line-height: 2em;
  opacity: 0.8
}

/*Contact Page */
.contact-body {
  padding-top: 7em;
  margin: auto;
  justify-content: center;
  background-image: url(https://c.pxhere.com/photos/3f/b2/winter_bw_white_lake_snow_black_mountains_nature-589111.jpg!d);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.contact-grid {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-align: center;
  justify-content: center;
  width: 78%;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.avatar-img2 {
  height: 22rem;
  padding-bottom: 2em;
}

.contact-grid hr {
  border-top: 4px white dotted;
  width: 27%;
  margin: auto;
  opacity: 0.8;
}

.contact-grid h2 {
  padding-top: 0.3em;
  color: white;
}

.contact-list i {
  padding-left: 1.5em;
  padding-right: 0.4em;
  padding-top: 1rem;
  font-size: 4.5rem;
  opacity: 0.8;
  color: white;
}
